.body{
    width: 100%;
    height: auto;
    background-color: blue
}
.sidebar{
    width: 15%;
    height: 700px;
    float: left;
    background-color: red
}
.leftbar{
    width: 85%;
    height: auto;
    float: left;
}
.leftbar-body{
    width: 100%;
    height: auto;
    background-color: white;
}
.leftbar-header{
    width: 100%;
    height: auto;
    background-color: gold;
}
#sidebar{
    display: none;
}