.mane{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    height: 50px;
}
.nav-item :hover{
    background-color: red;
    /* margin: 0px 10px 0px 10px; */
 }
 .style :hover{
    background-color: red;
    /* margin: 0px 10px 0px 10px; */
 }
 .nav-item  :visited {
    background-color: green;
}
.nav-item  :active {
    background-color: gold;
}
.nav-item{
  margin: 0px 1px 0px 1px;
}

.body{
    width: 100%;
    height: auto;
    background-color: blue
}
.sidebar{
    width: 15%;
    height: 700px;
    float: left;
    background-color: red
}
.leftbar{
    width: 85%;
    height: auto;
    float: left;
}
.leftbar-body{
    width: 100%;
    height: auto;
    background-color: white;
}
.leftbar-header{
    width: 100%;
    height: auto;
    background-color: gold;
}
#sidebar{
    display: none;
}
