<div class="mane">
  <div class="header">
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-dark navbar-dark" style="background-color: #e3f2fd; float: left;">
        <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home" style="color: rgb(247, 0, 255);" data-toggle="pill">HOME</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink = "html" style="color: rgb(247, 0, 255);" data-toggle="pill">HTML</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" routerLink="css" >CSS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" routerLink="javascript">JAVASCRIPT</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" routerLink="bootstrap">BOOTSTRAP</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" routerLink="jquery">JQUERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" routerLink="angular">ANGULAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" routerLink="java">JAVA</a>
          </li>
        </ul>
      </div> 
      </nav> 
  </div>

  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- 
  <div class="body" id="home">
    <router-outlet></router-outlet>
  </div>
  <div class="body" id="sidebar">
      <app-sidebar (childdata) = "childdatarec=$event"></app-sidebar>
    <div class="sidebar" >
    </div>
    <div class="leftbar">
      <div class="leftbar-body" >
        <app-body [parentdata] = "childdatarec"></app-body>
        
      </div>
      <div class="leftbar-header">
        <h1>Nurender</h1>
        <h1>{{childdatarec}}</h1>
      </div>
    </div>
  </div> -->

