<div id="mySidenav" class="sidenav nav1">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <input type="text" id="myInput" (keyup)="myFunction()" placeholder="Search for names.." title="Type in a name">
    <ul id="myUL" *ngFor = "let r of array">
        <!-- <li><a [(routerLink)]="link">{{link}}</a></li -->

            
        <li><a (click) = "mydata(r.id)" (click) = "services.id = r.id">{{r.name}}</a></li>


      </ul>
  </div> 
  <div id="main">
      <span style="font-size:30px;cursor:pointer" class="mainstyle" (click)="openNav()">&#9776; open</span>
    </div>
    